<nav class="navbar navbar-fixed-top navbar-warning">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">La Bloc (prototip realizat la mezanin in 24h)</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a ng-href="/#/login" ng-click="vm.clearUser()">
                        {{loggedUser.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
