<div ng-controller="ShellController as vm">
    <header class="clearfix" ng-if="loggedUser">
        <ht-top-nav navline="vm.navline"></ht-top-nav>
    </header>
    <section id="content" class="content">
        <div class="nav-submenu" ng-include="'app/layout/ht-navigation.html'" ng-if="loggedUser"></div>

        <div ui-view class="shuffle-animation"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section>
</div>

