<section id="ownerIndex-view">
    <section class="matter centered">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Declarare index</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <br/><br/>
                    <button type="button" class="btn btn-sm btn-success" ng-click="vm.addNewModal()">Adauga index</button>
                    <table class="table table-responsive table-striped">
                        <thead>
                        <tr>
                            <th>Luna</th>
                            <th>Consumator</th>
                            <th>Index declarat</th>
                            <th width="100">Actiune</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" ng-repeat="item in vm.consumptions">
                            <td>{{::vm.monthsList[item.monthNumber]}}</td>
                            <td>{{::item.consumer.name}}</td>
                            <td>{{::item.index}}</td>
                            <td class="link" ng-click="vm.editModal(item)"><span class="label label-success"><i class="mdi-editor-mode-edit"></i>Modifica</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
