<section id="ownerNews-view" >
    <section class="matter centered">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Lista sesizari</h2>
                </div>
                <div class="col-sm-12">
                    <br/>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Data</th>
                            <th>Locatar</th>
                            <th>Categorie</th>
                            <th>Titlu</th>
                            <th>Descriere</th>
                            <th>Atasament</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="report in vm.reports track by $index">
                            <td>{{ ::report.id}}</td>
                            <td>{{ ::report.created_at | date:'medium'}}</td>
                            <td>{{ ::report.user.name || 'anonim'}}</td>
                            <td>{{ ::report.type}}</td>
                            <td>{{ ::report.title}}</td>
                            <td>{{ ::report.message}}</td>
                            <td><span ng-if="report.file"><i class="mdi-editor-attach-file"></i></span> {{ ::report.file}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
