<section id="adminNews-view">
    <section class="matter centered">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form class="well well-lg" ng-submit="vm.submitNews()">
                        <h2>Publica un anunt</h2>


                        <div class="form-group label-floating is-empty">
                            <label for="title" class="control-label">Titlu</label>
                            <input type="text" class="form-control" id="title" ng-model="vm.news.title" required>
                            <span class="help-block">Introduceti titlul anuntului</span>
                            <span class="material-input"></span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label for="textArea" class="control-label">Detalii</label>
                            <textarea class="form-control" rows="3" id="textArea" ng-model="vm.news.message"
                                      required></textarea>
                            <span class="help-block">Completeaza detaliile anuntului</span>
                        </div>
                        <div class="form-group is-empty is-fileinput">
                            <input type="file" id="inputFile4" multiple="" accept="image/*"  ng-model="vm.news.files">

                            <div class="input-group">
                                <input type="text" readonly="" class="form-control" placeholder="Atasament">
                                <span class="input-group-btn input-group-sm">
                                  <button type="button" class="btn btn-fab btn-fab-mini">
                                      <i class="mdi-editor-attach-file"></i>
                                  </button>
                                </span>
                            </div>
                            <span class="material-input"></span></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">TRIMITE</button>
                            <button type="button" class="btn btn-default">ANULEAZA</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
