<section id="ownerNews-view" >
    <section class="matter centered">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Anunturile asociatiei</h2>
                </div>
            </div>
            <div class="row">
                <br/><br/>

                <div class="col-sm-6" ng-repeat="news in vm.news">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{::news.title}}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{::news.message}}</p>
                            <p ng-if="news.file"><a href="http://www.google.com" target="_blank" class="pull-right"><i class="mdi-file-folder"></i></a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
