<div>
    <form class="" ng-submit="closeMonth()">
        <h2 class="col-sm-12">Inchideti luna {{::ngDialogData.displayMonth}}?</h2>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Inchide</button>
                <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Anuleaza</button>
            </div>
        </div>
    </form>
</div>
