<section id="adminNews-view">
    <section class="matter centered">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Lista locatari</h2>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-sm btn-success" ng-click="vm.addOwnerModal()">Adauga
                        locatar
                    </button>
                    <br/>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nume</th>
                            <th>Email</th>
                            <th>Adresa</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.owners">
                            <td>{{::item.id}}</td>
                            <td>{{::item.name|| item.username}}</td>
                            <td>{{::item.email}}</td>
                            <td>{{::item.block}} {{::item.entrance}} {{::item.apartment}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
